.idea

/node_modules
/public/hot
/public/storage
/public/view
/storage/*.key
/vendor
package-lock.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
