head
    if htmlWebpackPlugin.options.hot
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    else
        script(crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js")
        script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")

    style !{ htmlWebpackPlugin.options.normalizeCss }

    style.
        textarea, body {
            font-family: 'Lato', sans-serif;
        }

#app

if !htmlWebpackPlugin.options.hot
    script(src=htmlWebpackPlugin.options.app)
