@import 'normalize.css';
@import '_media';

.logo {
    max-width: 30%;
    max-width: 100px;

    @media @desktop {
        max-width: 50%;
    }
}

.login-form {
    &__preview {
        @media @desktop {
            border-left: 2px solid #999;
            width: 45%;
        }

        &::after {
            content: '';

            @media @phone-strict {
                display: block;
                width: 96%;
                margin-top: 10px;
                margin-left: 2%;
                height: 2px;
                background-color: #999;
                border-radius: 2px;
            }

            @media @tablet-strict {
                display: block;
                width: 96%;
                margin-top: 10px;
                margin-left: 2%;
                height: 2px;
                background-color: #999;
                border-radius: 2px;
            }
        }
    }
}
